NEXT_PUBLIC_SUPABASE_URL="https://ynprasxyiegqitlabfct.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_N28jMSRgfg-PEHL4bYFmqQ_OlXBvtyN"
YOUTUBE_API_KEY="AIzaSyApqZesfdTUTrHlXLdlYF3zdlA0xJ6dIgg "
NEXT_PUBLIC_CONVEX_URL="https://posh-dotterel-818.convex.cloud"
# YouTube API
YOUTUBE_CLIENT_ID="688231067656-bg3qbt10uipo7s703gdcs1m94tu81quo.apps.googleusercontent.com"
YOUTUBE_CLIENT_SECRET="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"
YOUTUBE_REDIRECT_URI="http://localhost:3000/api/auth/youtube/callback"